name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
          fetch-depth: 0
          lfs: true
      - name: Configure HF credentials
        env: 
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global credential.helper store
          printf "https://user:%s@huggingface.co\n" "$HF_TOKEN" > ~/.git-credentials
      - name: Push to hub
        run: |
          git remote add hf https://huggingface.co/spaces/PreetP724/case_study1 || true
          git push --force hf HEAD:main